html, body, div.body-container{ 
  background-image: url("https://wallpaperaccess.com/full/2099524.jpg"); 
  height: 100%;
  width: 100%;
  background-size: cover;
 }

 .top-bar-section {
   ul {
    background-color: #ffa089;
   }
   a {
     color: #111111
   }
 }

.centered {
  text-align: center;
}

.bordered {
  border: solid 5px;
  border-color: #ffe1d0;
  margin: 5px; 
  border-radius: 25px;
}
.map-canvas { 
  width: 70%;
  height: 50%;
  border: solid 5px;
  border-color:#ffe1d0;
  margin-left:auto; 
  margin-right:auto;
  border-radius: 25px;
  display: block;
}

.tan-background {
  background-color: #fef6dd;
}

.sweet-blue-background {
  background-color: #b5e9e9;
}

.green-background {
  background-color: #dcf3d0;
}

.matcha-text {
  color: #8be284;
}

.yellow-background {
  background-color: #fff1b5;
}

.maroon-background {
  background-color:  #85144b;
}

.bordered-two {
  border: solid 5px;
  border-color: #ffe1d0;
}
map > div {
  border-radius: 10px;
}


.heading2 {
  color: #85144b;
  background-color: #39CCCC;
  border: solid 5px;
  border-color: #111111;
  border-radius: 25px;
  font-weight: bold;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}

.main-title {
  color: #fff1b5;
  font-weight: bold;
  width: 50%; 
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}

.title-background {
  border: solid 5px;
  border-color: #ffe1d0;
  border-radius: 25px;
  background-color:#EE82EE;
}

.bold {
  font-weight: bold;
}

.black-font {
  color: #111111;
}

.pink-background {
  background-color: #ffe1d0;
}

.half-width {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.box-shadow {
  box-shadow: 0 4px 20px 0 grey;
}
.hover-zoom {
  transition: all .2s ease-in-out;
}
.hover-zoom:hover{
  transform: scale(1.1);
}

.white-text {
  color: white; 
}

.third-width {
  width: 75%;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.font-one {
  font-family: Perpetua,Baskerville,Big Caslon,Palatino Linotype,Palatino,URW Palladio L,Nimbus Roman No9 L,serif;
}

.dark-background {
  background-color: #585858;
}

.orange-background {
  background-color: #ffa089;
}

.margined {
  margin-right: 50px;
  margin-left: 50px;
}

.nav-margined {
  margin-top: 40px;
  margin-bottom: 40px;
}


.adjusted {
  max-height: 100%;
  max-width: 100%;
}

.nav-background {
  background-color: #FFD4E5;
}